
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #fff;
    color: #1d1d1d;
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}


strong {
    color: #f97316;
    font-size: 25px;
    font-weight: bold;
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 0px;
} 


nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #1d1d1d;
    font-weight: bold;
    font-size: 18px;

}

.contact-btn {
    background-color: #f97316;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s;
}

.arrow-circle {
    background-color: white;
    color: #f97316;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}

.contact-btn:hover .arrow-circle {
    transform: translateX(4px); 
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    position: relative;
}

p{
    font-size: 20px;
    padding: 3px;
}

.hero-text {
    max-width: 600px;
}

.hero-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.highlight {
    color: #f97316;
}

.hero-text p {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.shop-btn {
    background-color: #f97316;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s;
}

.arrow-circle {
    background-color: white;
    color: #f97316;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}

.shop-btn:hover .arrow-circle {
    transform: translateX(4px); 
}


.hero-img {
    display: flex;
    align-items: center;
    position: relative;
}
/* .hero-img img {
    width: 300px;
    border-radius: 20px;
    margin-right: 20px;
} */

.image-stack {
    position: relative;
    width: fit-content;
    z-index: 2;
    margin-bottom: -100px;
}

.base-img {
    width: 550px;
    height: 750px;
    border-radius: 80px 80px 0 0;
    position: relative;
    z-index: 2;
}

.top-img {
    width: 230px;
    height: 150px;
    position: absolute;
    top: 20px;
    left: -40px; 
    border-radius: 40px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transform: rotate(-3deg);
    z-index: 3;
}

.triangle-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 550px;
    bottom: 180px;
}

.triangle-right {
    right: 750px;
    bottom: -30px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid;
}

.triangle.yellow {
    border-bottom-color: #f97316;
    animation: floatYellow 2s infinite ease-in-out;
}

.triangle.green {
    border-bottom-color: #14532d;;
    animation: floatGreen 2s infinite ease-in-out;
    animation-delay: 1s;
}

@keyframes floatYellow {
    0%, 100% {
        transform: rotate(150deg) translateY(0);
    }
    50% {
        transform: rotate(-30deg) translateY(-10px);
    }
}

@keyframes floatGreen {
    0%, 100% {
        transform: rotate(100deg) translateY(0);
    }
    50% {
        transform: rotate(-45deg) translateY(-10px);
    }
}

.triangle-label {
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;

}

.triangle-label-puresha {
    padding: 6px 12px;
    background-color: #f97316; 
    color: white;                
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    border: none;
}

.triangle-label-enactus {
    padding: 6px 12px;
    background-color:#14532d;
    color: white;                
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    border: none;
}

.triangle.yelloow {
    border-bottom-color: #f97316;
    animation: floatYellow 3s infinite ease-in-out;
    align-items: center;
    position: absolute;
    left: 550px;
    bottom: 30px;
}



.footer-banner {
    background-color: #14532d;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    position: relative;
    z-index: 1;
}

.footer-banner p {
    text-align: left;
    font-size: 15px bold;
    width: 50%;
    margin-top: 10px;
    top: 68%;
    color: white;
    /* padding: 10px 20px; */

}


/* responsive part  */

@media (max-width: 992px) {
header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero {
    flex-direction: column;
    padding: 30px 20px;
}

.hero-text h1 {
    font-size: 28px;
    text-align: center;
}

.hero-text p {
    text-align: center;
    font-size: 16px;
}

.buttons {
    flex-direction: column;
    align-items: center;
}

.hero-img {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.base-img {
    width: 90%;
    height: auto;
}

.top-img {
    width: 150px;
    height: auto;
    left: 0;
    top: -30px;
}


.triangle-wrap,
.triangle-right,
.triangle.yelloow {
    transform: scale(0.6);
    right: auto !important;
    left: 10px;
    bottom: 30px;
}

.footer-banner p {
    width: 100%;
    text-align: center;
    font-size: 14px;
}
}


@media (max-width: 768px) {
.logo {
    width: 80px;
    height: auto;
}

nav a {
    font-size: 16px;
}

.contact-btn {
    font-size: 14px;
    padding: 8px 16px;
}

.shop-btn {
    font-size: 14px;
    padding: 8px 16px;
}
}

/*    OUR PRODUCT , IMPACT     */


h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
}
.divider {
    width: 400px;
    border-top: 2px dashed #f37021;
    margin: 10px auto 30px auto;
}
.divider-impact {
    width: 150px;
    border-top: 2px dashed #f37021;
    margin: 10px auto 30px auto;
}

.section-title {
    color: #f37021;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-top: 60px;
    }
.why-product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto;
    gap: 20px;
    max-width: 1000px;
    }
.box {
    flex: 1;
    min-width: 300px;
    padding: 10px;
    height: 300px;
    color: white;
    border-radius: 20px 20px 0 0 ;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: relative;
    }
.texts{
    align-items: center;
    /* margin: 10px; */
    left: 26%;
    transform: translateX(-26%);
    position: absolute;
    margin-top: 30px;
    font-size: 18px;
}
.texts2{
    align-items: center;
    /* margin: 10px; */
    left: 30%;
    transform: translateX(-30%);
    position: absolute;
    margin-top: 30px;
    font-size: 18px;
}
.box:nth-child(1), .box:nth-child(3) {
    background-color: #2e7d32;
    }
.box:nth-child(2) {
    background-color: #f37021;
    }
.box-number {
    background: white;
    color: #f37021;
    font-weight: bold;
    font-size: 25px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    }

    .box-number2 {
    background: white;
    color: #2e7d32;
    font-weight: bold;
    font-size: 25px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    }
.impact-map {
    text-align: center;
    margin: 40px auto;
    }
.impact-map img {
    width: 100%;
    max-width: 950px;
    border-radius: 60px 60px 0 0 ;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
.impact-stats {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    max-width: 600px;
    gap: 40px;
    }
.impact-box {
    background-color: #FEF0E6;
    padding: 15px 25px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    flex-direction:row;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #f37021;
    border: 6px 6px 0px 0px solid #FEF0E6;
    display: flex;             
    align-items: center;       
    justify-content: space-between;
    min-width: 400px;
    }

.impact-box .label {
    font-size: 18px bold;
    color:#FF7D00;
    font-weight: 600;
    margin-bottom: 10px;
    width: 100px;
    }

#direct-contact {
    text-align: center;
    margin: 40px auto;
    gap: 20px;
    }